<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="static/css/nouislider.min.css">
	<link rel="stylesheet" href="static/css/ionicons.min.css">
	<link rel="stylesheet" href="static/css/plyr.css">
	<link rel="stylesheet" href="static/css/default-skin.css">
	<link rel="stylesheet" href="static/css/main.css">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

	<div class="sign section--bg" data-bg="./static/img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form  method="post"  class="sign__form">
							 
							<a href="index.html" class="sign__logo">
								<img src="img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input type="text"  name="username" class="sign__input" placeholder="username">
							</div>

							<div class="sign__group">
								<input type="password" name="password" class="sign__input" placeholder="Password">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Remember Me</label>
							</div>
							
							<button type="submit" class="sign__btn">Sign in</button>

							<span class="sign__text">Don't have an account? <a href="/signup">Sign up!</a></span>
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>